.inline-block(@valign: top) {
    display: inline-block;
    vertical-align: @valign;
}

.line-height(@px) {
    height: @px;
    line-height: @px;
}

.btn {
    margin: 0 10px;
    padding: 10px 20px;
    font-family: @montserrat;
    font-size: 17px;
    text-transform: uppercase;
    border: none;
    transition: background .5s;
    &.btn-primary{
    	color: @white;
    	a:hover{
			color: #2cc7c1;
}
    }
}

.title() {
    font-family: @montserrat;
    font-size: 31px;
    font-weight: bold;
    color: @titleColor;
    text-transform: uppercase;
}
.large(){
		margin-bottom: 20px;
		font-size: 22px;
		color: #828689;
	}
.link{

}