* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    min-width: 320px;
    font-family: @ubuntu;
    font-size: @regular;
    font-weight: normal;
    color: @textColor;
    background: @white;
}

a:visited,
a:link,
a:hover {
    font-family: @montserrat;
    font-size: @regular + 1;
    font-weight: normal;
    text-decoration: none;
    color: @white;
}

h2 {
    margin-top: 0;
    font-family: @montserrat;
    font-size: @regular + 14px;
    font-weight: normal;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    height: auto;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn {
    margin: 0 10px;
    padding: 10px 20px;
    font-family: @montserrat;
    font-size: @regular + 1;
    text-transform: uppercase;
    color: @white;
    border: none;
    border-radius: 3px;
    transition: background .5s;
}

.btn-blue {
    background: @btnBlue;
    &:hover {
    	color: @white;
        background: darken(@btnBlue, 10%);
    }
}

.btn-gray {
	color: @white;
    background: @darkGray;
    &:hover {
    	color: @white;
        background: darken(@darkGray, 10%);
    }
}

.section-table {
    display: table;
    width: 100%;
    height: 100%;
}

.section-row {
    display: table-row;
}

.section-cell {
    display: table-cell;
    vertical-align: middle;
}
