/* fontst
==================================== */
@ubuntu: Ubuntu, sans-serif;
@montserrat: Montserrat;
/* color
======================================== */


/* bg
=================================== */
@white: #fff;

/* border
=========================== */
