/* fontst
==================================== */
@ubuntu: Ubuntu, sans-serif;
@montserrat: Montserrat;
/* color
======================================== */
@titleColor: #828689;
@pColor: #999;

/* bg
=================================== */
@white: #fff;
@blue: #6bd8d3;


/* border
=========================== */
