/* fontst
==================================== */
@ubuntu: Ubuntu, sans-serif;
@montserrat: Montserrat, sans-serif;
@regular: 16px;
/* color
======================================== */
@white: #fff;
@black: #000;
@titleColor: #828689;
@textColor: #828282;
@blue: #2cc7c1;
@textGray: #abb1ba;
@grayMeddium: #9097a1;

/* bg
=================================== */
@white: #fff;
@blue: #6bd8d3;
@btnBlue: #7ea4e8;
@darkGray: #6a7079;
@lightGray: #ececec;
@textActive: #9097a1;
@gray: #efefef;
@red: #900F0F;
@green: #005500;


/* border
=========================== */
@borderGray: #f0f0f1;